body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
/* Sections */
/* Nav Sections */
.nav-section{
  font-family: 'Montserrat', sans-serif;
}
.navbar-light{
  background-color: #96bb7c;
}

.nav-item {
  padding: 0 18px;
}
/* About Sections */
.about-section {
  background-color: #e3dfc8;
  color: #96bb7c;
  padding: 7% 15% 0;
  padding-bottom: 1%;
}

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  text-align: center;
}
#about{
  text-align: center;

}
.pro-image{
text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.goal{
  font-size: 1.5rem;
  padding: 3% ;
  line-height: 1.0;
  font-style: italic;
}
/* Goals Sections */
.resume-section{
background-color: #f5f1da;
}
.container-fluid{
  padding: 7% 15% 3%;
}


.imag{
  width:30%;
}

.feature-title {
  font-size: 1.5rem;
  padding-top: 6%;
}

#skills{
  background-color: #eebb4d;
}

.container-skill{
  padding: 5% 10%;
}


.skills-text {
  font-size: 2.5rem;
  line-height: 1.5;
}
.skills-image{
  width: 7%;
  margin: 15px;
}




@media (max-width: 1028px) {


  .pro-image, .imag, .skills-image {
    position: static;
    transform: rotate(0);
  }
}
